@font-face {
    font-family: 'Elaina';
    src: url('../fonts/elaina-herculanum_roman.ttf');
}

@font-face {
    font-family: 'IsharLmao';
    src: url('../fonts/aegirseaborn.ttf');
}

:root {
    --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--font-body);
}